@{
    ViewBag.Title = "Home Page";
}

<table id="example">
    <thead>
        <tr>
            <th>CONSULAR</th>
            <th>COUNTRY_CODE</th>
            <th>COUNTRY_NAME</th>
            <th>CRESIDENCE</th>
            <th>RESIDENCE_NAME</th>
            <th>NAME</th>
        </tr>
    </thead>
</table>
@section scripts {
    <script src="~/Scripts/MyScript.js"></script>
}
